---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400,400i,700');
@import url('../webfontkit/stylesheet.css');

body {
    background: url(/assets/img/background.png) rgb(3, 10, 19);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color:floralwhite;
    font-family: 'Courier Prime Sans','Courier New', Courier, monospace;
    font-size: 12pt;
}


section {
    a {
        border-bottom: 1pt solid rgb(62, 135, 245);
    }
}
a {
    color: rgb(62, 135, 245);
    font-family: 'Courier Prime Sans Bold';
}

a:hover {
    font-weight: normal;
    color:lightcoral;
    border-color: lightcoral;
}

blockquote {
    // background: beige;
    // color:black;
    background: black;
    color:darkgoldenrod;
    font-style: normal;
    border: 1pt solid darkgoldenrod;
    max-width: 50%;
    float: right; 
    padding: 1em;
    margin: 1em;
    margin-right: -2em;
    h1,h2,h3,h4,h5 {
        display: inline-block;
        color:darkgoldenrod;
    }
}
blockquote::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 16pt;
    color:darkgoldenrod;
    content: "\f05a";
    position: relative;
    bottom: 6pt;
    float: right
}


h1,h2,h3,h4,h5 {
    color: beige;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase
}

hr {
    background: darkgoldenrod;
}

strong {
    font-family: 'Courier Prime Sans Bold';
    font-weight: normal;
    color: darkgoldenrod;
}

em {
    font-family: 'Courier Prime Sans Italic';
    font-style: normal;
    color: aliceblue;
    text-shadow: -0.5pt 1pt 3pt cyan, 0.5pt 2pt 4pt blue;
}

table {
    color: aliceblue;
}

thead th {
    color:aliceblue;
    font-family: 'Courier Prime Sans Bold';
    font-style: normal;
    font-weight: normal;
}
tbody {
    border:none;
}
tbody tr:nth-child(odd) {
    // background: #1b1b1b;
    color:beige
}