---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400,400i,700');
@import url('../webfontkit/stylesheet.css');

body {
    background: black;
    color:floralwhite;
    font-family: 'Courier Prime Sans','Courier New', Courier, monospace;
    font-size: 12pt;
}

section {
    a {
        border-bottom: 1pt solid lightcoral;
    }
}
a {
    color: lightcoral;
    font-family: 'Courier Prime Sans Bold';
}

a:hover {
    font-weight: normal;
    color:red;
    background: url(../img/static.gif);
    background-position: center;
    background-size: 800px;
    text-shadow: 1pt 1pt 0 black, -1pt -1pt 0 black;
    border: none;
}

blockquote {
    background: beige;
    color:black;
    font-style: normal;
    border:none;
    max-width: 50%;
    float: right; 
    
    padding: 1em;
    margin: 1em;
    margin-right: -2em;
    h1,h2,h3,h4,h5 {
        color:black;
        border-bottom: 1pt solid darkgoldenrod;
    }
}
blockquote::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 16pt;
    color:darkgoldenrod;
    content: "\f277";
    position: relative;
    bottom: 6pt;
    float: right
}


h1,h2,h3,h4,h5 {
    color: beige;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase
}

hr {
    background: darkgoldenrod;
}

strong {
    font-family: 'Courier Prime Sans Bold';
    font-weight: normal;
    color: darkgoldenrod;
}

em {
    font-family: 'Courier Prime Sans Italic';
    font-style: normal;
    color: aliceblue;
    text-shadow: -0.5pt 1pt 3pt cyan, 0.5pt 2pt 4pt blue;
}