---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400,400i,700');
@import url('../webfontkit/stylesheet.css');

body {
    background: black;
    color:floralwhite;
    font-family: 'Courier Prime Sans','Courier New', Courier, monospace;
    font-size: 12pt;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

li img {
    float: right;
    clear: both;
    margin: 5pt;
    max-width: 40%;
}

section {
    a {
        border-bottom: 1pt solid rgb(62, 135, 245);
    }
}
a {
    color: rgb(62, 135, 245);
    // font-family: 'Courier Prime Sans Bold';
}

a:hover {
    font-weight: normal;
    color:red;
    border-color: red;
}

blockquote {
    // background: beige;
    // color:black;
    background: black;
    color:darkgoldenrod;
    font-style: normal;
    border: 1pt solid darkgoldenrod;
    max-width: 50%;
    float: right; 
    padding: 1em;
    margin: 1em;
    margin-right: -2em;
    h1,h2,h3,h4,h5 {
        display: inline-block;
        color:darkgoldenrod;
    }
}
blockquote::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    font-size: 16pt;
    color:darkgoldenrod;
    content: "\f05a";
    position: relative;
    bottom: 6pt;
    float: right
}


h1,h2,h3,h4,h5 {
    color: beige;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase
}

hr {
    background:darkgoldenrod;

}

strong {
    font-family: 'Courier Prime Sans Bold';
    font-weight: normal;
    color: darkgoldenrod;
}

em {
    font-family: 'Courier Prime Sans Italic';
    font-style: normal;
    color: aliceblue;
    text-shadow: -0.5pt 1pt 3pt cyan, 0.5pt 2pt 4pt blue;
}

table {
    background: transparent;
    color: darkgoldenrod;
    border-left: 1pt solid darkgoldenrod;
    border-right: 1pt solid darkgoldenrod;
}

thead th {
    color:black;
    background: darkgoldenrod;
    border-color: darkgoldenrod;
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: normal;
}

td {
    border-color: darkgoldenrod;
}

td a {
    color: inherit;
    border-color: darkgoldenrod;
}
tbody {
    border-color: darkgoldenrod;
}
tbody tr:nth-child(odd) {
    background: rgb(7, 10, 14);;
    
}

#myInput {
    background: black;
    max-width: 100%;
    padding: 10pt;
    font-size: 20pt;
    margin-bottom: 20pt;
    font-family: 'Archivo Black';
    border: 1pt solid beige;
    color:  beige;
    text-transform: uppercase;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}

.single-file {
    background: black;
    padding: 5pt;
    border: 1pt solid beige;
    border-radius: 5pt;
    color: beige;
    h1,h2,h3,h4 {
        color: inherit;
    }
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}